*{
	margin:0;
	padding: 0;
	font-family: 'Hind', sans-serif;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: grey;
}

.calculator{
	position: relative;
	display: grid;
}

.calculator .value{
	grid-column: span 4;
	height: 110px;
	text-align: right;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 18px;
}

.calculator span{
	display: grid;
	width: 70px;
	height: 70px;
	color: #fff;
	background: #113;
	place-items:center;
	border: 1px solid rgba(0,0,0,.1);
}

.calculator span:active{
	background: lime;
	color: #111;
}

.calculator span.clear{
	grid-column: span 2;
	width:140px;
	background: #ff3077;
}

.calculator span.plus{
	grid-row: span 2;
	height: 140px;
}

.calculator span.enter{
	background-color: #74ff3b;
}
